.documents-table {
    width: 100%;

    .red-mark {
        width: 20px;
    }

    .is-main-document-column {
        width: 5%;
    }
    
    .document-type-column {
        width: 35%
    }
    
    .document-column {
        width: 20%;
    }
}