.documents-table {
    width: 100%;

    .red-mark {
        width: 20px;
    }

    .is-main-document-column {
        width: 5%;
    }
    
    .document-type-column {
        width: 35%
    }
    
    .document-column {
        width: 20%;
    }

    .archived {
        background-color: var(--row-background-archived);
    }

    .active {
        cursor: default !important;
        background-color: var(--row-background-active);
    }

    .archived.active {
        background-color: var(--row-background-active-archived);
    }

    .cursor-pointer {
        cursor: pointer;
    }
}