<div class="search-panel-container">
    <form class="document-controls-container">
        <mat-form-field class="document-type-control">
            <mat-label>Вид документа</mat-label>
            <mat-select [formControl]="documentType">
                <mat-option *ngFor="let documentType of documentTypes$ | async" [value]="documentType">{{documentType | documentName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="document-number-control">
            <mat-label>Номер</mat-label>
            <input mask="0*" [maxlength]="maxInputLength" matInput [formControl]="documentNumber">
        </mat-form-field>
    </form>
    <div class="panel-buttons-container">
        <button (click)="applyFiltersSetStatus ? applyFilters() : null" class="panel-button search" [disabled]="!applyFiltersSetStatus">НАЙТИ</button>
        <button (click)="clearFilters()" class="panel-button clear">ОЧИСТИТЬ</button>
    </div>
</div>
