.search-panel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .document-controls-container {

        .document-type-control {
            width: 300px;
        }
        
        .document-number-control {
            padding-left: 20px;
        }
    }

    .panel-buttons-container {

        .panel-button {
            cursor: pointer;
            border: 0;
            border-radius: 3px;
            width: 120px;
            height: 30px;
            color: var(--font-color-white);
        }

        .search {
            background-color: var(--button-background-blue);
            margin-right: 10px;
        }

        .clear {
            background-color: var(--button-background-red);
        }
    }
}