.work-with-documents-container {
    display: flex;
    flex-direction: row;

    .buttons-container {
        width: 50%;
        display: flex;

        .work-with-documents-button:disabled {
            cursor: not-allowed !important;
        }

        .work-with-documents-button {
            border-radius: 6px;
            margin-right: 10px;
            padding: 0 10px;
            cursor: pointer;

            .button-content {
                display: flex;
                text-align: center;
                justify-content: center;

                .button-label {
                    height: 30px;
                    line-height: 30px; 
                }
        
                .button-icon {
                    padding: calc(15px / 2) 0;
                    height: 15px;
                }
            }
        }

        .work-with-documents-button.add {
            color: var(--font-color-black);
            background-color: var(--button-background-orange);
        }

        .work-with-documents-button.edit {
            color: var(--font-color-white);
            background-color: var(--button-background-blue);
        }

        .work-with-documents-button.delete {
            color: var(--font-color-white);
            background-color: var(--button-background-red);
        }

        .work-with-documents-button.add:hover:not(:disabled) {
            background-color: var(--button-background-orange-hover) !important;
        }

        .work-with-documents-button.edit:hover:not(:disabled) {
            background-color: var(--button-background-blue-hover) !important;
        }

        .work-with-documents-button.delete:hover:not(:disabled) {
            background-color: var(--button-background-red-hover) !important;
        }
    }

    .checkbox-container {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 50%;
    }
}